<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Your NUSCloud Apps</title>
        <% include common-links.ejs %>
    </head>
    <body>
        <% include user-navbar.ejs %>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Your NUSCloud Apps</h1>
                </div>
            </div>
            <% if (perms.length > 0) { %>
                <% for(var i=0; i<perms.length; i++) {%>
                    <div class="login-screen">
                        <div class="login-form details">
                            <div class="app-title">
                                <h2><%= perms[i].clientname %></h2>
                            </div>
                            <ul>
                                <li><h4><b>Permissions:</b> <%= perms[i].permissions %></h4></li>
                                <li><h4><b>Namespace:</b> <%= perms[i].namespace %></h4></li>
                                <li><h4><b>Domain:</b> <%= perms[i].domain %></h4></li>
                            </ul>
                            <a class="nuscloud-btn" href="/account/apps/<%= perms[i].clientId %>">View Data</a>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="login-screen">
                    <div class="login-form details">
                        <p>You have not signed in to any apps yet!</p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>
